In [1]:
import pickle
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder

In [2]:
df = pd.read_csv("mobilenetv2.csv")
df

,optimizer,cpu,memory,time,epochs,predictions,dataset,loss,accuracy
0,adagrad,81.400,78.475,26.9857,2,304.5021,15,0.29111,0.86458
1,adam,77.775,61.225,32.0057,2,304.5021,16,0.06496,0.98438
2,adamax,45.275,52.975,46.2330,2,87.0006,15,0.07996,0.97396
3,ftrl,62.925,51.200,32.9408,2,435.0031,15,0.30984,0.86979
4,nadam,64.925,28.575,30.7948,2,87.0006,15,0.11819,0.95312
...,...,...,...,...,...,...,...,...,...
2116,sgd,57.225,59.225,40.4846,2,261.0018,13,0.11233,0.95312
2117,rmsprop,55.925,40.575,31.8268,2,130.5009,16,0.07947,0.95833
2118,adadelta,51.250,62.075,35.4096,2,391.5027,11,0.62000,0.64062
2119,adagrad,53.950,54.275,36.0557,2,304.5021,12,0.33067,0.77083
2120,adam,56.125,55.625,35.5644,2,261.0018,15,0.12258,0.94271