<a href="https://colab.research.google.com/github/it21053528/Fiverr-Freelancing/blob/main/unistu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Part 01

1

In [4]:
with open("corpus.txt", "w") as file:
    file.write("On January 1, 2023, John Smith, CEO of Acme Corporation, announced a new partnership with XYZ Enterprises. As part of the agreement, Acme Corporation will receive a payment of $5 million, which will be used to fund the development of new products. The payment will be made in two installments, with the first payment of $2 million due on March 1, 2023, and the second payment of $3 million due on June 1, 2023. The partnership is expected to increase revenue for both companies and strengthen their positions in the market.")

In [5]:
def load(f):
    with open(f, "r") as file:
        text = file.read()
    return text

In [21]:
text = load("corpus.txt")
print(text)

On January 1, 2023, John Smith, CEO of Acme Corporation, announced a new partnership with XYZ Enterprises. As part of the agreement, Acme Corporation will receive a payment of $5 million, which will be used to fund the development of new products. The payment will be made in two installments, with the first payment of $2 million due on March 1, 2023, and the second payment of $3 million due on June 1, 2023. The partnership is expected to increase revenue for both companies and strengthen their positions in the market.

1 a.

In [22]:
import nltk

# Define tokenizer using a regular expression
tokenizer = nltk.RegexpTokenizer(r'[^\w\s]+')

# Tokenize the text using the tokenizer
tokens = tokenizer.tokenize(text)

# Print the tokens
print(tokens)

[',', ',', ',', ',', '.', ',', '$', ',', '.', ',', '$', ',', ',', '$', ',', '.', '.']

2 b.

In [23]:
# Define the regular expression patterns
patterns = [
    r'\$\d+\.?\d*',  # Matches monetary amounts with a dollar sign
    r'\d{1,2}/\d{1,2}/\d{2,4}',  # Matches dates in MM/DD/YYYY or MM/DD/YY format
    r'[A-Z][a-z]+ [A-Z][a-z]+',  # Matches names of people with first and last name capitalized
    r'[A-Z][a-z]+(?: [A-Z][a-z]+)* Inc\.'  # Matches names of organizations ending in Inc.
]

# Combine the regular expression patterns using the | (or) operator
pattern = '|'.join(patterns)

# Tokenize the text using the regular expression pattern
tokens = nltk.regexp_tokenize(text, pattern)

# Print the tokens
print(tokens)

['On January', 'John Smith', 'Acme Corporation', 'Acme Corporation', '$5', '$2', '$3']

2.

In [25]:
sent = ['The', 'dog', 'gave', 'John', 'the', 'newspaper']
result = [(word, len(word)) for word in sent]
print(result)

[('The', 3), ('dog', 3), ('gave', 4), ('John', 4), ('the', 3), ('newspaper', 9)]

2 a.

In [26]:
row = "She sells seashells by the seashore"
words = row.split('s')
print(words)

['She ', 'ell', ' ', 'ea', 'hell', ' by the ', 'ea', 'hore']

3.

In [27]:
my_string = "Hello, world!"
for char in my_string:
    print(char)

H
e
l
l
o
,

w
o
r
l
d
!

4.

Calling split() on a string with no argument is equivalent to calling it with ' ' (a space) as the argument.

When you call split() with no argument, it uses whitespace (spaces, tabs, and newlines) as the delimiter to split the string. For example:

In [28]:
my_string = "Hello\tworld\n"
words = my_string.split()
print(words)

['Hello', 'world']

In this example, the string my_string contains the text "Hello" followed by a tab character (\t) and then "world" followed by a newline character (\n). The split() method is called on the string with no argument, which causes the string to be split into a list of words based on the whitespace characters.

When you call split() with ' ' as the argument, it splits the string on spaces only, ignoring any other whitespace characters. For example:

In [29]:
my_string = "Hello\tworld\n"
words = my_string.split(' ')
print(words)

['Hello\tworld\n']

In this example, the split() method is called on the string with ' ' as the argument, which causes the string to be split into a list containing only the original string, because there are no spaces in it. The tab and newline characters are not treated as delimiters in this case.

5.

Both list.sort() and the built-in function sorted() can be used to sort a list. However, they differ in how they work and how they affect the original list.

In [30]:
words = ['banana', 'apple', 'cherry']
words.sort()
print(words)

['apple', 'banana', 'cherry']

sorted() is a built-in function that returns a new sorted list based on the input list. It doesn't modify the original list. The sorted list is returned as the result of the function call, so you need to assign it to a new variable to keep it. For example:

In [31]:
words = ['banana', 'apple', 'cherry']
sorted_words = sorted(words)
print(sorted_words)

['apple', 'banana', 'cherry']

In summary, the main differences between list.sort() and sorted() are:

list.sort() sorts the list in-place, while sorted() returns a new sorted list.
list.sort() doesn't return anything, while sorted() returns the sorted list as its result.
list.sort() modifies the original list, while sorted() leaves the original list unchanged.

Part 02

1.

In [1]:
import random
from nltk.corpus import names
from nltk import NaiveBayesClassifier, classify

# Define a feature extractor function
def gender_features(word):
    return {'last_letter': word[-1]}

# Load the Names Corpus and create labeled feature sets
labeled_names = ([(name, 'male') for name in names.words('male.txt')] +
                 [(name, 'female') for name in names.words('female.txt')])
random.shuffle(labeled_names)
featuresets = [(gender_features(name), gender) for (name, gender) in labeled_names]

# Split the data into training, dev-test, and test sets
train_set, devtest_set, test_set = featuresets[1000:], featuresets[500:1000], featuresets[:500]

# Train a Naive Bayes classifier and evaluate on the dev-test set
classifier = NaiveBayesClassifier.train(train_set)
print('Accuracy on dev-test set:', classify.accuracy(classifier, devtest_set))

# Try adding some more features to the feature extractor function
def gender_features2(name):
    features = {}
    features['first_letter'] = name[0].lower()
    features['last_letter'] = name[-1].lower()
    for letter in 'abcdefghijklmnopqrstuvwxyz':
        features['count({})'.format(letter)] = name.lower().count(letter)
        features['has({})'.format(letter)] = (letter in name.lower())
    return features

# Update the feature sets with the new feature extractor function
featuresets = [(gender_features2(name), gender) for (name, gender) in labeled_names]

# Split the data into training, dev-test, and test sets again
train_set, devtest_set, test_set = featuresets[1000:], featuresets[500:1000], featuresets[:500]

# Train a new classifier with the updated feature sets and evaluate on the dev-test set
classifier2 = NaiveBayesClassifier.train(train_set)
print('Accuracy on dev-test set with more features:', classify.accuracy(classifier2, devtest_set))

# Show the most informative features of the new classifier
classifier2.show_most_informative_features(20)

# Evaluate the final classifier on the test set
print('Accuracy on test set:', classify.accuracy(classifier2, test_set))

Accuracy on dev-test set: 0.772
Accuracy on dev-test set with more features: 0.806
Most Informative Features
             last_letter = 'a'            female : male   =     35.7 : 1.0
             last_letter = 'k'              male : female =     29.2 : 1.0
             last_letter = 'f'              male : female =     25.3 : 1.0
             last_letter = 'p'              male : female =     11.1 : 1.0
             last_letter = 'v'              male : female =     10.5 : 1.0
             last_letter = 'd'              male : female =      8.8 : 1.0
                count(v) = 2              female : male   =      8.5 : 1.0
             last_letter = 'o'              male : female =      8.0 : 1.0
             last_letter = 'm'              male : female =      7.8 : 1.0
             last_letter = 'r'              male : female =      6.4 : 1.0
             last_letter = 'g'              male : female =      5.1 : 1.0
                count(a) = 3              female : male   =      4.9 : 1.0
             last_letter = 'b'              male : female =      4.8 : 1.0
            first_letter = 'w'              male : female =      4.5 : 1.0
             last_letter = 's'              male : female =      4.4 : 1.0
                count(w) = 1                male : female =      4.2 : 1.0
             last_letter = 'w'              male : female =      4.1 : 1.0
                  has(w) = True             male : female =      4.1 : 1.0
             last_letter = 't'              male : female =      4.1 : 1.0
             last_letter = 'z'              male : female =      3.9 : 1.0
Accuracy on test set: 0.794

2.

The accuracy (performance) of the test set is higher than dev-test set